.shuttle_frame_container{
    .shuttle_frame_left{
        font-size: 18px;
        font-weight: bold;
    }
    .shuttle_frame_rigth{
        background-color: rosybrown;
        color: #fff;
    }
}