.App {
  height: 100%;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

.htImageEditor {
  position: absolute;
  width: auto;
  background-color: #cbddf8;
  align-items: center;
  text-align: center;
}

.htImageEditor > img{
  height: 100%;
  max-width: 100%;
  width: auto;
  display: block;
  margin: auto;
}

.htEllipsisText{
  overflow: hidden !important;
  text-overflow: ellipsis;
  white-space: nowrap !important;
}

.htContextMenu:not(.htGhostTable){
  z-index: 9999 !important;
}

.handsontable td{
  background-color: transparent !important;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

/*TODO quick fix for ketcher in dialog problem*/
.ToolbarMultiToolItem-module_portal__yDg5_ {
  z-index: 1500 !important;
}